body{
  background-color: rgb(184, 170, 231);
}


.cc div h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: 700;
  color: rgb(28, 13, 240);
  size: 40px;
  line-height: 48px;
}
.cc div h5{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  size: 16px;
  color: rgb(2, 79, 18);
  line-height: 24px;
}

.hh{
  background: #b096e5;
  padding: 30px ;
}

#submit , #applyUpdate{
  background-color: rgb(198, 170, 255);
}
#submit:hover , #applyUpdate:hover{
  background-color: rgb(88, 67, 246) ;
}

#deletAll {
  width: 80%;
  margin: auto;
  text-align: center;     
  margin-top: 10px;
} 

.deleteAll-btn {
  width: 80%;
  display: inline-block;  
  background-color: rgb(255, 60, 60);
  color: black;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.deleteAll-btn:hover {
  background-color: rgb(110, 0, 0);    
  color: white;
  transform: scale(1.03);
}


.table-container {
  margin: 40px auto;
  width: 85%;
  display: flex;
  justify-content: center;
}

.styled-table {
  width: 85%;
  border-collapse: collapse;
  background: #ae96e5;     
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.styled-table thead tr {
  background-color: #a185e7;
  color: white;
  font-size: 18px;
}

.styled-table th,
.styled-table td {
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.styled-table tbody tr {
  background: #fff4f4;
  transition: 0.2s;
}

.btn {
  padding: 11px 21px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  font-weight: 600;
}

.visit-btn {
  background: rgb(0, 187, 0);
}

.visit-btn:hover {
  background: rgb(2, 72, 2);
  color: white;
}


.delete-btn {
  background: rgb(255, 50, 50);
}

.delete-btn:hover {
  background: rgb(112, 0, 0);
  color: white;
}
